

.max2k{max-width: 2560px;}
.h100vh{height: 100vh;}
.min-h100vh{min-height: 100vh;}
.side-nav{padding: 60px 0 40px 0;width: 250px;min-height: 100vh;background-color: #001529;}
.side-nav-fixed{position: fixed;max-width: 250px;min-width: 250px; width: 250px;min-height: 100vh;background-color: #001529;}
.page-header01{display: -ms-flexbox;display: -webkit-box;display: flex;-ms-flex-align: center;-webkit-box-align: center;align-items: center;width: 100%;height: 60px; background-color: #fff;-webkit-box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);}
.page-main{margin-left: 250px;}
.page-content{-ms-flex: auto;-webkit-box-flex: 1;flex: auto;padding: 20px;}
.page-content01{-ms-flex: auto;-webkit-box-flex: 1;flex: auto;padding: 0;}
.page-footer{-ms-flex: none;-webkit-box-flex: 0;flex: none;padding: 20px;}
.cont-wrapper{margin-bottom: 20px;padding: 20px; min-height: 50px;background: #fff;}
.cont-wrapper-nobg{margin-bottom: 20px;padding: 20px; min-height: 50px;}
.cont-wrapper-pd0{margin-bottom: 20px;padding: 0;min-height: 50px;}
.header-fixed .page-header01{ z-index: 10;position: fixed;top: 0;right: 0;width: calc(100% - 250px);}
/* 两种content 一种内间距20  一种无内间距*/
.header-fixed .page-content{padding-top: 80px;}
.header-fixed .page-content01{padding-top: 80px;}
.nav-fixed .side-nav{z-index: 20;position: fixed;left: 0;top: 0;height: 100vh;}

.side-logo{position: absolute;left: 0;top: 0;width: 100%; height: 60px; line-height: 60px;background-color: #002140;}

/* 带有交互的下拉导航 */
.d-nav-box{position: relative;height: 100%;background-color: #001529;font-size: 14px;color: #fff;overflow-y: auto;-webkit-box-sizing: border-box;box-sizing: border-box;}
.d-nav-box .d-nav-item{position: relative;display: block;}
.d-nav-box .d-nav-item a{position: relative;display: block;padding: 12px 20px 12px 36px; color: rgba(255, 255, 255, .7);text-decoration: none;}
.d-nav-box .d-nav-item .d-arr{z-index: 1;position: absolute;top: 20px;right: 8px;}
.d-nav-box .d-nav-item .nav-icon{position: absolute;left: 8px;top: 12px;}
.d-nav-box .d-nav-item .nav-icon path{fill: rgba(255, 255, 255, .7);}
.d-nav-box .d-nav-item .d-arr-top{border-top-color: #999;transform:rotate(0deg);transition:transform .2s}
.d-nav-box .d-nav-item.active .d-arr-top{ transform:rotate(-180deg);transition:transform .2s}
.d-nav-box .d-nav-item a:hover { background-color: #4e5465; color: #fff;}
.d-nav-box .d-nav-item a:hover .d-arr-top{border-top-color: #fff;}
.d-nav-box .d-nav-item a:hover .nav-icon path{fill: rgba(255, 255, 255, 1);}

.d-nav-box .d-nav-item .d-nav-subbox a.d-nav-subitem{padding: 9.5px 20px 9.5px 56px;color: rgba(255, 255, 255, .7);}
.d-nav-box .d-nav-item .d-nav-subbox{background-color: #000c17; overflow: hidden;max-height: 0;transition:all .1s ease-out}
.d-nav-box .d-nav-item.active .d-nav-subbox{max-height: 999px;transition:all .1s ease-in}
.d-nav-box .d-nav-item.active a{color: #fff;}
.d-nav-box .d-nav-item .d-nav-subbox a.d-nav-subitem.active{color: rgba(255, 255, 255, 1);}

@media (min-width:2560px){
    .max2k{position: relative;margin: 0 auto;}
    .max2k .side-nav{position: absolute;}
}


