.h100vh{height: 100vh;}
.min-h100vh{min-height: 100vh;}
.side-nav{ width: 250px;max-width: 250px;min-width: 250px;min-height: 100vh;background-color: #001529;}
.side-nav-fixed{position: fixed; width: 250px;max-width: 250px;min-width: 250px;min-height: 100vh;background-color: #001529;}
.page-header01{width: 100%;height: 60px;line-height: 60px;background-color: #fff;box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);}
.page-content{flex: auto;padding: 20px;}
.page-content01{flex: auto;padding: 0;}
.page-footer{flex: none;padding: 20px;}
.cont-wrapper{margin-bottom: 20px;padding: 20px; min-height: 50px;background: #fff;}
.cont-wrapper2{margin-bottom: 20px;padding: 20px; height: 500px;}
.header-fixed .page-header01{position: fixed;top: 0;right: 0; z-index: 10;width: calc(100% - 250px);}
/* 两种content 一种边框20  一种无边框 */
.header-fixed .page-content{padding-top: 80px;}
.header-fixed .page-content01{padding-top: 80px;}
.nav-fixed .side-nav{position: fixed;top: 0;left: 0;z-index: 20;height: 100vh;}
.nav-fixed .flex-layer-col{padding-left: 250px;}

.side-nav .scroll{overflow-y: auto;height: -moz-calc(100% - 60px); height: -webkit-calc(100% - 60px); height: calc(100% - 60px);}
.side-logo{height: 60px;line-height: 60px;background-color: #002140;}
/* .side-menu{padding: 20px 0;} */



/* Start layui nav */
.layui-nav {position: relative;padding: 20px 0;background-color: #001529;color: #fff;border-radius: 2px;box-sizing: border-box;}
.layui-nav .layui-nav-item {position: relative;display: block;width: 100%;line-height: 45px}
.layui-nav .layui-nav-item a {display: block;padding: 0 20px;color: #fff;color: rgba(255, 255, 255, .7);transition: all .3s;-webkit-transition: all .3s;text-decoration: none;}
.layui-nav .layui-this:after,
.layui-nav-bar,
.layui-nav-tree .layui-nav-itemed:after {position: absolute;left: 0;top: 0;width: 0;height: 5px;background-color: #5FB878;transition: all .2s;-webkit-transition: all .2s}
.layui-nav-bar {z-index: 1000}
.layui-nav .layui-nav-item a:hover,
.layui-nav .layui-this a {color: #fff}
.layui-nav .layui-this:after {content: '';top: auto;bottom: 0;width: 100%}
.layui-nav-img {width: 30px;height: 30px;margin-right: 10px;border-radius: 50%}
.layui-nav .layui-nav-more {content: '';width: 0;height: 0;border-style: solid dashed dashed;border-color: #fff transparent transparent;overflow: hidden;cursor: pointer;transition: all .2s;-webkit-transition: all .2s;position: absolute;top: 50%;right: 3px;margin-top: -3px;border-width: 6px;border-top-color: rgba(255, 255, 255, .7)}
.layui-nav .layui-nav-mored,
.layui-nav-itemed>a .layui-nav-more {margin-top: -9px;border-style: dashed dashed solid;border-color: transparent transparent #fff}
.layui-nav-child {display: none;position: absolute;left: 0;top: 65px;min-width: 100%;line-height: 36px;padding: 5px 0;box-shadow: 0 2px 4px rgba(0, 0, 0, .12);border: 1px solid #d2d2d2;background-color: #fff;z-index: 100;border-radius: 2px;white-space: nowrap}
.layui-nav .layui-nav-child a {color: #333}
.layui-nav .layui-nav-child a:hover {background-color: #f2f2f2;color: #000}
.layui-nav-child dd {position: relative}
.layui-nav .layui-nav-child dd.layui-this a,
.layui-nav-child dd.layui-this {background-color: #5FB878;color: #fff}
.layui-nav-child dd.layui-this:after {display: none}
.layui-nav-tree .layui-nav-item a {position: relative;height: 45px;line-height: 45px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap}
.layui-nav-tree .layui-nav-item a:hover {background-color: #4E5465}
.layui-nav-tree .layui-nav-bar {width: 5px;height: 0;background-color: #009688}
.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a,
.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this>a,
.layui-nav-tree .layui-this>a:hover {background-color: #1890ff;color: #fff}
.layui-nav-tree .layui-this:after {display: none}
.layui-nav-itemed>a,
.layui-nav-tree .layui-nav-title a,
.layui-nav-tree .layui-nav-title a:hover {color: #fff !important}
.layui-nav-tree .layui-nav-child {position: relative;z-index: 0;top: 0;border: none;box-shadow: none}
.layui-nav-tree .layui-nav-child a {padding-left: 40px; height: 40px;line-height: 40px;color: #fff;color: rgba(255, 255, 255, .7)}
.layui-nav-tree .layui-nav-child,
.layui-nav-tree .layui-nav-child a:hover {background-color: #4E5465;color: #fff}
.layui-nav-tree .layui-nav-more {right: 10px}
.layui-nav-itemed>.layui-nav-child {display: block;padding: 0;background-color: #000c17;}
.layui-nav-itemed>.layui-nav-child>.layui-this>.layui-nav-child {display: block}
/* .layui-nav-side {position: fixed;top: 0;bottom: 0;left: 0;overflow-x: hidden;z-index: 999} */
.layui-bg-blue .layui-nav-bar,
.layui-bg-blue .layui-nav-itemed:after,
.layui-bg-blue .layui-this:after {background-color: #93D1FF}
.layui-bg-blue .layui-nav-child dd.layui-this {background-color: #1E9FFF}
.layui-bg-blue .layui-nav-itemed>a,
.layui-nav-tree.layui-bg-blue .layui-nav-title a,
.layui-nav-tree.layui-bg-blue .layui-nav-title a:hover {background-color: #007DDB !important}
/* End layui nav */





