@charset "utf-8";

/* Normalize.css 初始化 start */

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

details {
    display: block;
}



summary {
    display: list-item;
}

template {
    display: none;
}


[hidden] {
    display: none;
}

/* Normalize.css 初始化 start */

/*S Global*/
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
em,
button {
    margin: 0;
    padding: 0;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #fff;
    font: 14px/1.5 "Microsoft YaHei", Tahoma, Simsun, sans-serif;
    color: #333;
    -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Tahoma, "Microsoft YaHei", simsun, sans-serif;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var,
i {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

/*=E  */
/* HTML5 display definitions */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

/*=E */
/* image reset */
img,
fieldset {
    border: 0;
}

img {
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
    overflow: hidden;
}

/*=E */
/* form reset */
input,
textarea {
    font-size: 12px;
}

textarea {
    overflow: auto;
    resize: vertical;
}

button,
select {
    text-transform: none;
}

button {
    overflow: visible;
}

.xclear::-ms-clear {
    display: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: none;
    cursor: default;
}

button[disabled],
html input[disabled] {
    cursor: not-allowed;
}

input {
    line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-moz-placeholder {
    color: #999;
}

::-webkit-input-placeholder {
    color: #999;
}

::-ms-input-placeholder {
    color: #999;
}

.inputSel {
    color: #999;
}

/*=E  */
/* Text-level semantics */
abbr[title],
acronym[title],
.abbr {
    border-bottom: 1px dotted;
    text-decoration: none;
}

b,
optgroup,
strong {
    font-weight: bold;
}

dfn {
    font-style: normal;
    font-family: Arial;
}

mark,
.mark {
    background: #ff0;
    color: #333;
}

/*=E  */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th {
    text-align: left;
}

/*=E  */
/* others */
a {
    color: #06c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.td-n {
    text-decoration: none;
}

.td-n:hover {
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
}

a:focus {
    outline-style: none;
}

/*=E  */
/* Special style*/
.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.hidden {
    display: none;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/*=E  */
/* Course */
.c-n {
    cursor: not-allowed;
}

.c-d {
    cursor: default;
}

.c-p {
    cursor: pointer;
}

.c-h {
    cursor: help;
}

.c-m {
    cursor: context-menu\0;
    cursor: url(http://pic.c-ctrip.com/kolibre/c_4.cur), context-menu;
}

/*E Global*/
/**/
.d-ib {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-align: left;
}

/*E Normal text style*/
/*=S Grids*/
.d-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    *zoom: 1;
}

.d-container:after {
    content: '';
    clear: both;
    display: table;
    line-height: 0;
}

.d-container [class*="d-col"] {
    float: left;
    margin: 0 10px;
}

.d-col1 {
    width: 80px;
}

.d-col2 {
    width: 180px;
}

.d-col3 {
    width: 280px;
}

.d-col4 {
    width: 380px;
}

.d-col5 {
    width: 480px;
}

.d-col6 {
    width: 580px;
}

.d-col7 {
    width: 680px;
}

.d-col8 {
    width: 780px;
}

.d-col9 {
    width: 880px;
}

.d-col10 {
    width: 980px;
}

/*=E Grids*/
/*=S layout control*/
.m5 {
    margin: 5px;
}

.mt5 {
    margin-top: 5px;
}

.mr5 {
    margin-right: 5px;
}

.mb5 {
    margin-bottom: 5px;
}

.ml5 {
    margin-left: 5px;
}

.mv5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mh5 {
    margin-left: 5px;
    margin-right: 5px;
}

.m10 {
    margin: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mr10 {
    margin-right: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.ml10 {
    margin-left: 10px;
}

.mv10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mh10 {
    margin-left: 10px;
    margin-right: 10px;
}

.m20 {
    margin: 20px;
}

.mt20 {
    margin-top: 20px;
}

.mr20 {
    margin-right: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.ml20 {
    margin-left: 20px;
}

.mv20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mh20 {
    margin-left: 20px;
    margin-right: 20px;
}

.m30 {
    margin: 30px;
}

.mt30 {
    margin-top: 30px;
}

.mr30 {
    margin-right: 30px;
}

.mb30 {
    margin-bottom: 30px;
}

.ml30 {
    margin-left: 30px;
}

.mv30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mh30 {
    margin-left: 30px;
    margin-right: 30px;
}

.m40 {
    margin: 40px;
}

.mt40 {
    margin-top: 40px;
}

.mr40 {
    margin-right: 40px;
}

.mb40 {
    margin-bottom: 40px;
}

.ml40 {
    margin-left: 40px;
}

.mv40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.mh40 {
    margin-left: 40px;
    margin-right: 40px;
}

.p5 {
    padding: 5px;
}

.pt5 {
    padding-top: 5px;
}

.pr5 {
    padding-right: 5px;
}

.pb5 {
    padding-bottom: 5px;
}

.pl5 {
    padding-left: 5px;
}

.pv5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.ph5 {
    padding-left: 5px;
    padding-right: 5px;
}

.p10 {
    padding: 10px;
}

.pt10 {
    padding-top: 10px;
}

.pr10 {
    padding-right: 10px;
}

.pb10 {
    padding-bottom: 10px;
}

.pl10 {
    padding-left: 10px;
}

.pv10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ph10 {
    padding-left: 10px;
    padding-right: 10px;
}

.p20 {
    padding: 20px;
}

.pt20 {
    padding-top: 20px;
}

.pr20 {
    padding-right: 20px;
}

.pb20 {
    padding-bottom: 20px;
}

.pl20 {
    padding-left: 20px;
}

.pv20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.ph20 {
    padding-left: 20px;
    padding-right: 20px;
}
.p30 {
    padding: 30px;
}

.pt30 {
    padding-top: 30px;
}

.pr30 {
    padding-right: 30px;
}

.pb30 {
    padding-bottom: 30px;
}

.pl30 {
    padding-left: 30px;
}

.pv30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.ph30 {
    padding-left: 30px;
    padding-right: 30px;
}
.p40 {
    padding: 40px;
}

.pt40 {
    padding-top: 40px;
}

.pr40 {
    padding-right: 40px;
}

.pb40 {
    padding-bottom: 40px;
}

.pl40 {
    padding-left: 40px;
}

.pv40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.ph40 {
    padding-left: 40px;
    padding-right: 40px;
}

/*=E layout control*/
/*=S text color*/
.d-white {
    color: #fff;
}

.d-black {
    color: #000;
}

.d-red {
    color: #ff0000;
}

.d-orange {
    color: #ff6c00;
}

.d-yellow {
    color: #ffd429;
}

.d-blue {
    color: #09c;
}
.d-darkblue {
    color: #102647;
}

.d-lightblue {
    color: #4dc3e7;
}

.d-green {
    color: #3c6;
}

.d-brown {
    color: #aa6708;
}

.d-dark {
    color: #333;
}

.d-gray0 {
    color: #666;
}

.d-gray1 {
    color: #ccc;
}


.d-gray2 {
    color: #ddd;
}

.d-gray3 {
    color: #eee;
}

.d-bg-white{background-color: #fff;}
.d-bg-white-c{background-color: #fff;color: #000;}

.d-bg-black{background-color: #000;}
.d-bg-black-c{background-color: #000;color:#fff;}

.d-bg-green{background-color: #dff0d8;}
.d-bg-green-c{background-color: #dff0d8;color: #3c763d;}

.d-bg-blue{background-color: #d9edf7;}
.d-bg-blue-c{background-color: #d9edf7;color: #31708f;}

.d-bg-yellow{background-color: #fcf8e3;}
.d-bg-yellow-c{background-color: #fcf8e3;color: #8a6d3b;}

.d-bg-red{background-color: #f2dede;}
.d-bg-red-c{background-color: #f2dede;color: #a94442;}

.d-underline {
    text-decoration: underline;
}

.d-dash {
    border-bottom: 1px dashed #999;
}

.d-bold {
    font-weight: bold !important;
}

.bold {
    font-weight: bold !important;
}

.d-border{border: 1px solid #ccc;}
.d-border-dashed{border: 1px dashed #ccc;}
.d-bdr4{border-radius: 4px;}
.d-bdr6{border-radius: 6px;}
.d-bdr8{border-radius: 8px;}

.d-money {
    font-family: "Microsoft YaHei", Arial, "Hiragino Sans GB", "STHeiti", sans-serif
}

.f-12,
.f-14,
.f-15,
.f-16,
.f-17,
.f-18,
.f-19,
.f-20,
.f-21,
.f-22,
.f-23,
.f-24,
.f-25,
.f-26,
.f-27,
.f-28,
.f-30,
.f-32,
.f-34,
.f-36 {
    font-family: "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", simsun, "\9ed1\4f53", "STHeiti", sans-serif, Arial, "Hiragino Sans GB";
}

.f-12 {
    font-size: 12px;
}

.f-13 {
    font-size: 13px;
}

.f-14 {
    font-size: 14px;
}

.f-15 {
    font-size: 15px;
}

.f-16 {
    font-size: 16px;
}

.f-17 {
    font-size: 17px;
}

.f-18 {
    font-size: 18px;
}

.f-19 {
    font-size: 19px;
}

.f-20 {
    font-size: 20px;
}

.f-21 {
    font-size: 21px;
}

.f-22 {
    font-size: 22px;
}

.f-23 {
    font-size: 23px;
}

.f-24 {
    font-size: 24px;
}

.f-25 {
    font-size: 25px;
}

.f-26 {
    font-size: 26px;
}

.f-27 {
    font-size: 27px;
}

.f-28 {
    font-size: 28px;
}

.f-30 {
    font-size: 30px;
}

.f-32 {
    font-size: 32px;
}

.f-34 {
    font-size: 34px;
}

.f-36 {
    font-size: 32px;
}

/*=End text color*/
.ta-l {
    text-align: left;
}

.ta-r {
    text-align: right;
}

.ta-c {
    text-align: center;
}

.va-t {
    vertical-align: top;
}

.va-m {
    vertical-align: middle;
}

.va-b {
    vertical-align: bottom;
}

/*E Normal text style*/
/*=S icon*/
.d-ico-state,
.d-ico-tag,
.d-ico-lucency-tag {
    display: inline-block;
    padding: 2px;
    vertical-align: middle;
    color: #fff;
    overflow: hidden;
    border-radius: 2px;
    line-height: 1;
    font-family: Arial, "Hiragino Sans GB", "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", simsun, "\9ed1\4f53", "STHeiti", sans-serif;
    white-space: nowrap;
    word-break: keep-all;
}

.d-ico-state {
    padding: 3px 2px;
}

.d-ico-lucency-tag {
    border: 1px solid #ee4f62;
}

.d-ico-orange {
    background-color: #f60;
}

.d-ico-green {
    background-color: #3c6;
}

.d-ico-blue {
    background-color: #69f;
}

.d-ico-red {
    background-color: #fc5c61;
}
.d-ico-violet {
    background-color: #b47cfb;
}

.d-ico-gray {
    background-color: #ccc;
}

.d-ico-cyan {
    background-color: #2dc4f3;
}

.d-ico-smalt {
    background-color: #55bbd8;
}

.d-ico-vip {
    color: #feee98;
    background-color: #e92c32;
}

.d-ico-lucency-orange {
    color: #ff6600;
    border-color: #ff6600;
}

.d-ico-lucency-blue {
    color: #0080ff;
    border-color: #0080ff;
}

.d-ico-lucency-green {
    color: #3c6;
    border-color: #3c6;
}

.d-ico-complex-yellow {
    color: #f67a04;
    border-color: #ffeca3;
    background-color: #fff5ce;
}

/*=S table style*/
.d-table {
    border: 1px solid #e7eef4;
}

.d-table th,
.d-table td {
    padding: 5px 10px;
}

.d-table th {
    background-color: #e7eef4;
}

.d-table td {
    border-top: 1px solid #dde6ed;
}

.d-table-style01 {
    width: 100%;
}

.d-table-style01 th {
    border: 1px solid #dde6ed;
    padding: 10px;
}

.d-table-style01 td {
    padding: 10px;
    border-left: 1px solid #e7eef4;
}


/* 第二种表格 */
.d-table-style02{width: 100%;}
.d-table-style02 th{background-color: #2c6fb7;color: #fff;}
.d-table-style02 tr:nth-child(even){background-color: #f7f7f7;}





.d-sort-arrows {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.d-sort .d-sort-arrows {
    margin: -2px 0 0 4px;
}

.d-sort {
    cursor: default;
}

.d-sort-arrows:before {
    content: " ";
    display: block;
    overflow: hidden;
    height: 0;
    width: 0;
    margin-bottom: 2px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent #999;
}

.d-sort-arrows:after {
    content: " ";
    display: block;
    overflow: hidden;
    height: 0;
    width: 0;
    border-width: 4px;
    border-style: solid;
    border-color: #999 transparent transparent;
}

.d-sort.isSort,
.d-sort.isReverse {
    color: #06c;
}

.isSort .d-sort-arrows:before {
    border-color: transparent transparent #06c;
}

.isReverse .d-sort-arrows:after {
    border-color: #06c transparent transparent;
}

/*=E table*/
/*=S btn*/
.d-btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 28px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #1badda;
    background-color: #fff;
    font-size: 12px;
    line-height: 28px;
    color: #1badda;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    overflow: visible;
}

a.d-btn {
    height: 26px;
    line-height: 26px;
}

.d-btn:hover {
    background-color: #f4fbff;
    text-decoration: none;
}

.d-btn-level1 {
    background-color: #1badda;
    /*	background:linear-gradient(#1fb8e6 0%, 30%, #1badda 100%);*/
    color: #fff;
}

.d-btn-level1:hover {
    background-color: #2dc4f3;
    /*	background:linear-gradient(#2dc4f3 0%, 30%, #27b9e6 100%);*/
}

.d-btn-level2 {
    display: none;
    background-color: #0084f3;
    color: #fff;
}

.d-btn-level2:hover {
    background-color: #4faeff;
}

.d-btn-level3 {
    display: none;
    border-color: #000;
    background-color: #fff;
    color: #1badda;
}

.d-btn-level3:hover {
    border-color: #0084f3;
    background-color: #f4fbff;
}

.d-btn-link {
    background-color: transparent;
    color: #06c;
}

.d-btn-link:hover {
    background-color: transparent;
    text-decoration: underline;
}

.d-btn-lg {
    min-width: 80px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 30px;
}

a.d-btn-lg {
    height: 30px;
    line-height: 30px;
}

.d-btn-sm {
    height: 28px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    line-height: 28px;
}

a.d-btn-sm {
    height: 26px;
    line-height: 26px;
}

.d-btn-xs {
    height: 24px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    line-height: 24px;
}

a.d-btn-xs {
    height: 22px;
    line-height: 22px;
}

.d-btn-disabled {
    border-color: #ddd;
    background-color: #ddd;
    color: #aaa;
    cursor: not-allowed;
}

.d-btn-disabled:hover {
    border-color: #ddd;
    background-color: #ddd;
}

.d-btn-link-disabled {
    border-color: #aaa;
    background-color: transparent;
    color: #aaa;
    cursor: not-allowed;
}

.d-btn-link-disabled:hover {
    background-color: transparent;
    text-decoration: none;
}

.d-close {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font: bold 20px simsun;
    color: #aaa;
    vertical-align: middle;
    cursor: pointer;
}

.d-close:hover {
    color: #2dc4f3;
    text-decoration: none;
}

button.d-close {
    padding: 0;
    border: 0 none;
    background-color: transparent;
    outline: none;
}

/*=E btn*/
/*=S forms*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

button[disabled],
html input[disabled] {
    cursor: not-allowed;
}

.d-input {
    padding: 0 5px;
    outline: none;
    border: 1px solid #bacbd8;
    height: 26px;
    width: 143px;
    line-height: 26px\9;
    vertical-align: middle;
    font-size: 12px;
    resize: none;
}

.d-input:hover {
    border-color: #999;
}

textarea.d-input {
    width: auto;
    height: auto;
    padding: 5px;
}

.d-input-date {
    width: 93px;
}

.d-select {
    outline: none;
    border: 1px solid #bacbd8;
    width: 155px;
    height: 28px;
    vertical-align: middle;
    background-color: #fff;
}

.d-textarea {
    outline: none;
    width: 203px;
    height: 5em;
    padding: 5px;
    border: 1px solid #bacbd8;
    vertical-align: middle;
    background-color: #fff;
}

.d-select:focus,
.d-input:focus {
    border-color: #5d9de5;
}

.d-input[disabled] {
    border-color: #ccc;
    background-color: #ddd;
    color: #999;
}

.d-input.d-input-err {
    border: 1px solid #d80000;
    background-color: #fff3f3;
}

.d-label {
    padding-bottom: 1px;
    margin-right: 10px;
    border-bottom: 1px dashed transparent;
    vertical-align: middle;
}

.d-label:hover {
    border-bottom-color: #aaa;
}

.d-label input {
    margin: -2px 3px 0 0;
    vertical-align: middle;
}

.d-form {
    margin: 10px 0;
    font-size: 12px;
}

.d-form-label,
.d-form-cont,
.d-form-info {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.d-form-label {
    margin: 4px 10px 0 0;
    width: 8em;
    vertical-align: middle;
    text-align: right;
    color: #666;
}

.d-form-cont {
    vertical-align: top;
    white-space: normal;
}

.d-form-conn {
    vertical-align: middle;
}

.d-form-cont .d-input+.d-btn,
.d-form-cont .d-btn+.d-btn {
    margin-left: 10px;
}

.d-form-cont .d-form-label {
    width: auto;
    text-align: left;
    color: #333;
}

.d-form-info {
    vertical-align: middle;
    color: #666;
}

.d-form-info-bottom {
    margin-top: 5px;
}

.d-form-texterr {
    color: #d80000;
}

.d-form-label-mark {
    margin-right: 2px;
    color: #f00;
    vertical-align: middle;
}

/*=E forms*/
/*=S icons*/
.d-ico {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: url(http://pic.c-ctrip.com/mip/un_base.png) no-repeat;
}

.d-ico-succeed32 {
    width: 32px;
    height: 32px;
    background-position: -110px 0;
}

.d-ico-warn32 {
    width: 32px;
    height: 32px;
    background-position: -65px 0;
}

.d-ico-succeed16 {
    width: 16px;
    height: 16px;
    background-position: -110px -42px;
}

.d-ico-warn16 {
    width: 16px;
    height: 16px;
    background-position: -65px -42px;
}

.d-ico-arrow-up16 {
    width: 16px;
    height: 16px;
    background-position: -147px -42px;
}

.d-ico-arrow-down16 {
    width: 16px;
    height: 16px;
    background-position: -167px -42px;
}

/*=E icons*/
/*=S layer*/
.d-layer {
    width: 400px;
    padding: 10px;
    border: 1px solid #dfe5e7;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, .15);
}

/*=E icons*/
/*=S layer*/
.d-modal {
    display: none;
    position: relative;
    width: 450px;
    border: 4px solid #dfe5e7;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .15);
}

.d-modal .modal-header {
    min-height: 45px;
    padding-left: 15px;
    padding-right: 15px;
    *zoom: 1;
}

.d-modal .modal-header:after {
    content: "";
    display: table;
    clear: both;
}

.d-modal .d-close {
    position: absolute;
    top: 12px;
    right: 15px;
}

.d-modal .modal-title {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    font-weight: normal;
    font-size: 14px;
    line-height: 1;
}

.d-modal .modal-body {
    padding: 30px 15px 15px;
}

.d-modal .modal-header+.modal-body {
    padding-top: 15px;
}

.d-modal .d-form-cont .d-input {
    width: 203px;
}

.d-modal .d-msg div {
    max-width: 300px;
}

.d-modal .modal-footer {
    margin: 10px 0 20px;
    text-align: center;
}

.d-modal .modal-footer button {
    margin: 0 10px;
}

.d-modal .d-ib {
    vertical-align: top
}

.d-mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    filter: blur(10px);
}

/*=E modal*/
/*=S Breadcrumb*/
.d-bread {
    font-size: 12px;
}

.d-bread-conn {
    font-family: simsun;
}

.d-bread-item-cur {
    cursor: default;
}

/*=E Breadcrumb*/
/*=S tab*/
.d-tabs {
    margin-bottom: 20px;
    padding: 0;
    border-bottom: 1px solid #1badda;
}

.d-tab {
    float: left;
    margin-right: 5px;
    margin-bottom: -1px;
    padding: 5px 20px;
    border: 1px solid #1badda;
}

.d-tab a {
    color: #333;
}

.d-tab a:hover {
    text-decoration: none;
}

.d-tab .new {
    margin-left: 5px;
    padding: 0 2px;
    background-color: #1badda;
    color: #fff;
}

.d-tab.cur {
    border-bottom-color: #fff;
}

.d-tab.cur a {
    color: #1badda;
    font-weight: bold;
}

/*=E tab*/
/*=S paging*/
.d-paging {
    overflow: hidden;
}

.d-paging .paging-wrap {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.d-paging a {
    margin: 0 2px;
    padding: 0 10px;
    border-color: #e7eef4;
    background-color: #fff;
    color: #333;
}

.d-paging .d-btn {
    border-radius: 0;
}

.d-paging a:hover {
    border-color: #2dc4f3;
    text-decoration: none;
}

.d-paging .current {
    border-color: #2dc4f3;
    background-color: #2dc4f3;
    color: #fff;
}

.d-paging .ellipsis {
    margin: 0 5px;
}

.d-paging .btn-prev,
.d-paging .btn-next {
    position: relative;
    width: 28px;
    padding: 0;
}

.d-paging .btn-prev:hover,
.d-paging .btn-next:hover {
    background-color: #fff;
}

.d-paging .btn-prev .ico-prev,
.d-paging .btn-next .ico-next {
    position: absolute;
    top: 6px;
    width: 0;
    height: 0;
    font-size: 0;
    border: 6px dashed transparent;
    overflow: hidden;
}

.d-paging .btn-prev .ico-prev {
    left: 5px;
    border-right: 6px solid #2dc4f3;
}

.d-paging .btn-next .ico-next {
    left: 10px;
    border-left: 6px solid #2dc4f3;
}

.d-paging .disable {
    cursor: not-allowed;
}

.d-paging .disable:hover {
    border-color: #dfe5e7;
}

.d-paging .disable .ico-prev {
    border-right-color: #999;
}

.d-paging .disable .ico-next {
    border-left-color: #999;
}

.d-paging .paging-tool {
    display: inline-block;
    padding-left: 5px;
    line-height: 24px;
    color: #666;
}

.d-paging .input-text {
    width: 40px;
    height: 18px;
    margin: 0 5px;
    padding: 2px 5px;
    border: 1px solid #bacbd8;
    background-color: #fff;
    line-height: 20px;
}

/*=E paging*/
/*=S chart histogram*/
.d-arr {
    overflow: hidden;
    width: 0;
    height: 0;
    border-width: 6px;
    vertical-align: middle;
}

.d-arr-left {
    border-right-width: 0;
    border-style: solid;
    border-color: transparent transparent transparent #666;
}

.d-arr-right {
    border-left-width: 0;
    border-style: solid;
    border-color: transparent #666 transparent transparent;
}

.d-arr-top {
    border-bottom-width: 0;
    border-style: solid;
    border-color: #666 transparent transparent transparent;
}

.d-arr-bottom {
    border-top-width: 0;
    border-style: solid;
    border-color: transparent transparent #666 transparent;
}

.d-arr-ll {
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #666 #666;
}

.d-arr-lr {
    border-width: 6px;
    border-style: solid;
    border-color: transparent #666 #666 transparent;
}

/*=E paging*/
/*=S modify bootstrap*/
.form-control:focus {
    box-shadow: none;
}

.btn.focus,
.btn:focus {
    box-shadow: none;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: none;
}

.d-hover {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.d-hover .d-hover-cont {
    position: absolute;
    display: none;
    top: 21px;
    left: 0;
    padding: 10px;
    width: 180px;
    border: 1px solid #1badda;
    box-shadow: 0 2px 8px 0 rgba(27, 173, 218, 0.2);
    background-color: #fff;
    font-size: 12px;
    white-space: normal;
    word-break: break-all;
}

.d-hover:hover .d-hover-cont {
    display: block;
}


/*=E modify bootstrap*/
.header {
    width: 100%;
}

.header-cont {
    margin: 0 auto;
    padding: 0 10px;
    width: 1200px;
    height: 60px;
    line-height: 60px;
    background-color: #003479;
}

.header-cont a {
    color: #fff;
    text-decoration: none;
}